seoul/.terraform.lock.hcl
seoul/.terraform/modules/modules.json
seoul/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
.gitignore
seoul/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
virginia/.terraform.lock.hcl
virginia/.terraform/environment
seoul/.terraform/environment
virginia/.terraform/modules/modules.json
virginia/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
virginia/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
virginia/terraform.tfstate.d/virginia/terraform.tfstate
virginia/terraform.tfstate.d/virginia/.terraform.tfstate.lock.info
seoul/terraform.tfstate.d/seoul/.terraform.tfstate.lock.info
seoul/terraform.tfstate.d/seoul/terraform.tfstate
seoul/terraform.tfstate.d/seoul/terraform.tfstate.backup
virginia/terraform.tfstate.d/virginia/terraform.tfstate.backup
seoul/.terraform.tfstate.lock.info
seoul/terraform.tfstate
seoul/terraform.tfstate.backup
virginia/terraform.tfstate.backup
virginia/terraform.tfstate
virginia/.terraform.tfstate.lock.info
global/.terraform.lock.hcl
global/terraform.tfstate.backup
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
