seoul/.terraform.lock.hcl
seoul/.terraform/modules/modules.json
seoul/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
.gitignore
seoul/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
virginia/.terraform.lock.hcl
virginia/.terraform/environment
seoul/.terraform/environment
virginia/.terraform/modules/modules.json
virginia/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
virginia/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
virginia/terraform.tfstate.d/virginia/terraform.tfstate
virginia/terraform.tfstate.d/virginia/.terraform.tfstate.lock.info
seoul/terraform.tfstate.d/seoul/.terraform.tfstate.lock.info
seoul/terraform.tfstate.d/seoul/terraform.tfstate
seoul/terraform.tfstate.d/seoul/terraform.tfstate.backup
virginia/terraform.tfstate.d/virginia/terraform.tfstate.backup
seoul/.terraform.tfstate.lock.info
seoul/terraform.tfstate
seoul/terraform.tfstate.backup
virginia/terraform.tfstate.backup
virginia/terraform.tfstate
virginia/.terraform.tfstate.lock.info
global/.terraform.lock.hcl
global/terraform.tfstate.backup
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/LICENSE.txt
global/.terraform/providers/registry.terraform.io/hashicorp/aws/6.0.0/windows_386/terraform-provider-aws_v6.0.0_x5.exe
global/terraform.tfstate
fixed_instance_module_main.tf
seoul/terraform.tfstate.1751985550.backup
seoul/terraform.tfstate.1751985563.backup
seoul/terraform.tfstate.1751985588.backup
seoul/terraform.tfstate.1751985601.backup
seoul/terraform.tfstate.1751985613.backup
seoul/terraform.tfstate.1751985626.backup
seoul/terraform.tfstate.1751985637.backup
seoul/terraform.tfstate.1751985649.backup
seoul/terraform.tfstate.1751985677.backup
seoul/terraform.tfstate.1751985690.backup
seoul/terraform.tfstate.1751985711.backup
seoul/terraform.tfstate.1751985723.backup
seoul/terraform.tfstate.1751985736.backup
seoul/terraform.tfstate.1751985748.backup
seoul/terraform.tfstate.1751987183.backup
seoul/terraform.tfstate.1751987201.backup
